* {
  box-sizing: border-box;
  border: none;
}

:root {
  font-size: 16px;
  --idea-card-min-width: 300px;
  --idea-card-min-width-mobile: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body:has(dialog[open]) {
  overflow: hidden;
}
